{% extends 'game_gold/base.html' %}

{% block info %}
    <h1>Configura el Juego</h1>
    <div class="row m-10">
        <div class="col px-md-3 align-self-center">
            <form action="config_success/" method="POST" class="p-10 m-10 border">
                {% csrf_token %}
                <h2>{{i.name}}</h2>
                <div class="card-body">
                    {% if i.min >= 0 %}
                        <p>Gana {{i.min}}-{{i.max}} monedas</p>
                    {% else %}
                        <p>Gana/Pierde 0-{{i.max}}monedas</p>
                    {% endif %}
                    <button class="btn btn-success m-10" name={{i.name}}>Find Gold</button>
                    <br>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center">
        <div class="plays col-md-4">
            <ul>
            {% for i in request.session.plays%}
                {% if i.minado >= 0 %}
                    <p class="text-success font-italic h-25">Gana: en {{i.name}} {{i.minado}} monedas </p>
                {% else %}
                    <p class="text-danger font-italic h-25">Pierde en {{i.name}} {{i.minado}} monedas</p>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock info %}