{% extends 'game_gold/base.html' %}

{% block info %}
    <h1>Datos del Juego</h1>
    <div class="row mx-auto">
    <br>
    {% comment %} <a href="{% url 'index' %}" class="col-md-4 h4">Página Inicial</a> {% endcomment %}
    <a href="{% url 'reset' %}" class="col-md-6 h4">Reset</a>
    <a href="{% url 'config' %}" class="col-md-6 h4">Configurar Juego</a>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6 offset-md-3 justify-content-center">
            <h1 class="text-warning">Gold:{{request.session.gold}}</h1>
        </div>
    </div>
    {%if request.session.game %}
    <div class="row m-10">
        {% for i in request.session.game %}
        <div class="col px-md-3 align-self-center">
            <form action="process_money/" method="POST" class="p-10 m-10 border">
                {% csrf_token %}
                <h2>{{i.name}}</h2>
                <div class="card-body">
                    {% if i.min >= 0 %}
                        <p>Gana {{i.min}}-{{i.max}} monedas</p>
                    {% else %}
                        <p>Gana/Pierde 0-{{i.max}}monedas</p>
                    {% endif %}
                    <button class="btn btn-success m-10" name={{i.name}}>Find Gold</button>
                    <br>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center my-10">
        <div class="plays col-md-4">
            <ul>
            <h6>Jugadas:</h6>
            <br>
            {% for i in request.session.plays%}
                {% if i.minado >= 0 %}
                    <p class="text-success font-italic h-25">Gana: en {{i.name}} {{i.minado}} monedas!!!! ({{request.session.time}}) </p>
                {% else %}
                    <p class="text-danger font-italic h-25">Pierde en {{i.name}} {{i.minado}} monedas..oops ({{request.session.time}})</p>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock info %}